*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# ignore the gradle metadata and build folder
**/bin/
**/build/
**/build/
**/.gradle/
**/.settings/
*.classpath

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
