<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello SpringMVC with Netty</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
	<h1 th:text="'Hello, ' + ${name} + '!'" />

	<div id="result1"></div>
	<div id="result2"></div>
	<script>
		$(document).ready(function() {

			var params = { data : "new text here" , creationTime : new Date().toString() };
			$.post("create", params, function(data) {
				$("#result1").html(data);
			});

			params.data = "edited text";
			$.post("edit/123", params, function(data) {
				$("#result2").html(data);
			});
		});
	</script>
</body>
</html>